bubblesort.exe
randomnumbergenerator.py
randomnumbergenerator.exe
selectionsort.exe
try.c
try.exe
try2.c
try2.exe
.vscode
random.txt
lab1.exe
.gitignore
insertion_sort.exe
bubble_sort.exe
try3.c
lab1.c